
header .title_logo{
    font-size: medium;
    margin-left: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

header .title{
    color: #000;
}

header .user_menu{
    text-align: center;
    width: auto;
    float: right;
    padding: 15px;
    margin-right: 10px;
}

body {
    background-color: #FFC489;
}
/* トップページのCSS */
.top_page_box,.rooting_button{
    background-color: #F3F3F3;
    border-radius: 10px;
    color: black;
}

.rooting_button{
    border-bottom: 5px solid #b5b5ad;
}

.rooting_button:hover {
  margin-top: 3px;
  color: #000;
  background: #b5b5ad;
  border-bottom: 2px solid #b5b5ad;
}

/* ユーザー登録画面のCSS */

.form_container{
    border-width: 4px;
    border-color: #88B1FD;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.form_box{
    background-color: #F3F3F3;
    border-color: #88B1FD;
    border-width: 1px;
    height: 560px;
}

.form{
    margin-top: 90px;
}

.form p{
    text-align: end;
    font-size: 13px;
}

.label{
    margin-left: 70px;
    width:400px;
}

.submit_button{
    background-color: #88b1fdbb;
    padding: 15px 30px;
    border-radius: 20px;
    border-color: #88B1FD;
    float: right;
    margin-right: 10px;
}

/* ストック管理画面のCSS */

.index_container{
    border-width: 4px;
    border-color: #88B1FD;
    border-top: none;
    width: 800px;
    height: 580px;
    margin-right: auto;
    padding-top: 15px;
}

.index_box{
    background-color: #F3F3F3;
    border-color: #88B1FD;
    border-width: 1px;
    height: 540px;
}

.index_button{
    text-align: center;
    width: 33.3%;
    background-color: #F3F3F3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-color: #88B1FD;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
}

.b-button :hover{
    background-color: #ebebe1;
}

.topics{
    background-image: url("https://i.gyazo.com/604cf6784a2e7573bb4658d6d96984fa.png") ;
    background-size: contain;
    width: 300px;
    height: 600px;
    background-repeat:  no-repeat;
}

.phone_display{
    width: 265px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.phone_display h5{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    
    background-color: #FFC489;

}