
header .title_logo{
    font-size: medium;
    margin-left: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

header .title{
    color: #000;
}

header .user_menu{
    text-align: center;
    width: auto;
    float: right;
    padding: 15px;
    margin-right: 10px;
}

body {
    background-color: #FFC489;
}
/* トップページのCSS */
.top_page_box,.rooting_button{
    background-color: #F3F3F3;
    border-radius: 10px;
    color: black;
}

.rooting_button{
    border-bottom: 5px solid #b5b5ad;
}

.rooting_button:hover {
  margin-top: 3px;
  color: #000;
  background: #b5b5ad;
  border-bottom: 2px solid #b5b5ad;
}

/* ユーザー登録画面のCSS */

.form_container{
    border-width: 4px;
    border-color: #88B1FD;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    overflow: scroll;
}

.form_box{
    background-color: #F3F3F3;
    border-color: #88B1FD;
    border-width: 1px;
    height: 560px;
    overflow-y: scroll;
}

.form{
    margin-top: 50px;
}

.form p{
    text-align: end;
    font-size: 13px;
}

.category_select{
    background-color: #ffffff;
}

.category_form{
    display: flex;
    
}

.category_label{
    text-align: end;
    width: 28%;
    margin-right: 9%;
}

.category_name{
    text-align: center;
    width: 57%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #e9ecef;
    margin-right: 7%;
    
}

.category_name_input{
    text-align: center;
    width: 57%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
    margin-right: 13%; 
}

.purchase_interval{
    width:80%;
}

.d-flex > span{
    white-space: nowrap;
}

.label{
    margin-left: 40px;
    width:400px;
    white-space: nowrap;
}

.submit_button{
    background-color: #88b1fdbb;
    padding: 15px 30px;
    border-radius: 20px;
    border-color: #88B1FD;
    float: right;
    margin-right: 10px;
}

.submit_button:hover{
    background-color: #6da0ffbb;
}

/* ストック管理画面のCSS */

.search{
    display: flex;
    width: 60%;
    height: 37px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.index_container{
    border-width: 4px;
    border-color: #88B1FD;
    border-top: none;
    width: 800px;
    height: 580px;
    margin-right: auto;
}

.index_box{
    background-color: #F3F3F3;
    border-color: #88B1FD;
    border-width: 1px;
    height: 530px;
    overflow: scroll;
}

.index_button{
    text-align: center;
    font-size: large;
    width: 33.3%;
    background-color: #F3F3F3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-color: #88B1FD;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
}

.index_button.active{
    background-color: rgb(254, 255, 255);
    border-bottom: none;
}

.stocks{
    display: flex;
    align-items: center;
}

.stock_card{
    text-decoration: none;
    color: #000;
}

.stock_index{
    background-color: #ffffff;
    height: 45px;
    width: 550px;
    border-color: #88B1FD;
    border-width: 1px;
    font-size: larger;
    padding-top: 5px;
}

.stock_index:hover{
    background-color: #cff4df;
}

.stock_amount{
    float: right;
    margin-right: 10%;
}

.edit_button{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 60px;
    background-color: #88B1FD;
    text-align: center;
    border-radius: 30px;
    margin-left: 30px;
}

/* 記事一覧画面のCSS */

.article_container{
    width: 100%;
    height: 507px;
    margin-top: 2vh;
    overflow-y: scroll;
}

.article{
    display: flex;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 10px;
    background-color: #F3F3F3;
}

.left_contents{
    width: 55%;
    height: auto;
}

.article_header p{
    font-size: small;
    margin-left:  1%;
}

.right_contents{
    width: 45%;
    text-align: center;
    height: auto;
}

.img{
    width: 95%;
    height: 224px;
    background-color: #ffffff;
    border-color: #000;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
}

.photo{
    width: 290px;
    height: 220px;
}

.photo_now{
    margin-left: 50%;
}

.topics{
    background-image: url("https://i.gyazo.com/604cf6784a2e7573bb4658d6d96984fa.png") ;
    background-size: contain;
    width: 300px;
    height: 600px;
    margin-top: 50px;
    background-repeat:  no-repeat;
}

.phone_display{
    width: 265px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 15%;
}

.phone_display h5{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    
    background-color: #FFC489;

}

.article_container_phone{
    width: 100%;
    height: 400px;
    margin-top: 2vh;
    overflow-y: scroll;
}

.article_phone{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 10px;
    background-color: #F3F3F3;
    color: #000;
    text-decoration: none;
}

.article_phone:hover{
    text-decoration: none;
    background-color: #cbcbc1;
}



.article_phone p{
    font-size: xx-small;
    margin-left: 5%;
}

.article_text_phone{
    font-size: 10px;
}

/* 記事詳細（コメント欄）画面のCSS */

.article_show_container{
    border-width: 4px;
    border-color: #88B1FD;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    overflow-y: scroll;
}

.comments_container{
    width: 100%;
    height: 180px;
    margin-top: 2vh;
}

.comment_title{
    margin-left: 23%;
}

.commenter{
    display: flex;
}

.comment{
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: 6%;
    margin-top: 3%;
    padding: 2%;
    border-radius: 10px;
    background-color: #F3F3F3;
}

.comment_submit_button{
    background-color: #88b1fdbb;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    border-color: #88B1FD;
    float: right;
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.comment_submit_button:hover{
    background-color: #6da0ffbb;
}

.comment_destroy_button{
    background-color: #88b1fdbb;
    color: #000;
    text-align: center;
    width: 70px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 20px;
    border-color: #88B1FD;
    font-size: 13px; 
    margin-left: auto;
    margin-right: 5px;
    border: none;
}

.comment_destroy_button:hover{
    background-color: #6da0ffbb;
}

.comment_area textarea{
    height: 45px;

}

.comment_button{
    width: 10px;
    margin-left: auto;
    margin-right: 20%;
}

